# extends 'profile/profile_base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block head
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css" rel="stylesheet">
# endblock

# block profile_content
<h3 title="Username"><span class="fa fa-at fa-fw"></span> {{ user_db.username }}</h3>
<h3 title="Email">
    <span class="fa fa-envelope-o fa-fw"></span> {{ user_db.email }}
    # if config.CONFIG_DB.verify_email and user_db.email and user_db.verified
    <span class="fa fa-check fa-fw text-success" title="This email is verified"></span>
    # elif config.CONFIG_DB.verify_email and user_db.email
    <span class="fa fa-warning fa-fw text-warning" title="This email is not verified"></span>
    # endif
</h3>
<hr>
<h3 class="text-muted" title="Available sign in options">
    <span class="fa fa-sign-in fa-fw"></span>
    {{ utils.auth_icons(user_db) }}
</h3>
# endblock

# block custom_content
<div class="content">
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Aggiungi una Serie</h4>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <form action="{{ url_for('add_user_serie') }}" method="post"
                              class="form-inline"
                              role="form">
                            <select name="serie" data-placeholder="Scegli una Serie..."
                                    class="    \       chosen-select"
                                    style="max-width:350px;"
                                    tabindex="2" title="selectSeries">
                                # for serie in series
                                <option value="{{ serie.title }}">{{ serie.title }}</option>
                                # endfor
                            </select>

                            <button type="submit" class="btn btn-sm btn-primary selectpill">Aggiungi</button>
                        </form>
                    </div>
                </div>

                <ul class="list-group list-group-flush">

                    # for serie in user_db.series_list
                    <li class="list-group-item">
                        <form action="{{ url_for('del_user_serie') }}" method="post"
                              class="form-inline"
                              role="form">
                            <button class="btn btn-outline-secondary btn-sm" type="submit">
                                <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                            </button>
                            &nbsp;&nbsp;{{ serie.get().title }}
                            <input name="serie" type="hidden" value="{{ serie.get().title }}">
                        </form>
                    </li>
                    # endfor
                </ul>
            </div>
        </div>
    </div>
</div>
# endblock

# block scripts
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
# endblock