<style>
    .gutter-2.row {
        margin-right: -1px;
        margin-left: -1px;
      }
      .gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
        padding-right: 1px;
        padding-left: 1px;
      }

    .row .panel-success {
        color: white;
        background-color: #5cb85c;
        border-color: #458a45;

    }

    .row .panel-success .text-muted {
        color: white;
    }

    .row .panel-warning {
        color: white;
        background-color: #f0ad4e;
        border-color: #bf8a3f;
    }

    .row .panel-warning .text-muted {
        color: white;
    }

    .pull-left {
        float: left !important;
    }

    .pull-right {
        float: right !important;
    }
</style>