# extends "base.html"


# block head
<style>
    *, *:before, *:after {
        box-sizing: border-box !important;
    }

    .row {
        -moz-column-width: 192px;
        -webkit-column-width: 192px;
        -moz-column-gap: .4em;
        -webkit-column-gap: .4em;
    }

    .row .panel {
        display: inline-block;
    {#margin: .5em;#}{#padding: 0;#}{#width: 98%;#}
    }

    .row .panel-success {
        background: #dff0d8;
        border-color: #39683a;
    }

    .row .panel .panel-body .img-rounded {
        max-width: 100%;
        height: auto;
        display: block;
    }

</style>
# endblock

# block content
<div class="row">
    # for issue in cart
    <div class="col">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/issue/{{ issue.title }}">
                    <img src="{{ issue.image }}" alt="{{ issue.title }}" class="img-rounded">
                </a>
                <h4>{{ issue.title }}</h4>
                <form id="form-{{ loop.index }}" action="{{ url_for('cart_del') }}"
                      method="post">
                    <input type="hidden" name="issue_title" value="{{ issue.title }}">
                    <button type="submit" form="form-{{ loop.index }}"
                            class="btn btn-default">
                            <i class="fa  fa-remove"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    # endfor
</div>

# endblock