# extends "base.html"


# block content
<div class="container">
    # for item in issues
    <div class="row gutter-2">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive img-rounded" src="{{ item.image }}">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>{{ item.title }}</h2>
                        {% if item.subtitle %}
                            <h4 class="text-muted">{{ item.subtitle }}</h4>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    # if item.reprint
                    <h5 class="text-muted">{{ item.reprint }}</h5>
                    # endif
                    # if item.serie
                    <h5 class="text-muted">{{ item.serie.get().title }}</h5>
                    # endif
                    # if item.price
                    <h5 class="text-muted">{{ item.price }}</h5>
                    # endif
                </div>
                <ul class="list-group">
                    # for summary in item.summary
                    <li class="list-group-item">{{ summary }}</li>
                    # endfor
                </ul>
                <form id="form-{{ item.serie.get().title|urlencode }}-{{ loop.index }}"
                      action="{{ url_for('cart_add') }}"
                      method="post">
                    <input type="hidden" name="issue_title" value="{{ item.title }}">
                    <div class="text-center">
                        <div class="panel-body">
                            <div class="btn-group">
                                <a class="btn btn-info" href="{{ item.url }}">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                    Shop Panini
                                </a>
                                <a class="btn " href="{{ url_for('serie_page',title=item.serie.get().title) }}">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Show Serie
                                </a>
                                <button type="submit" form="form-{{ item.serie.get().title|urlencode }}-{{ loop.index }}"
                                        class="btn btn-success">
                                    <span class="fa fa-fw fa-cart-plus"></span>Add To Cart
                                </button>
                            </div>
                        </div>
                </form>
            </div>

            <p></p>
            <div class="panel-footer">
                <h5>{{ item.date.strftime("%d %b %y") }}</h5>
            </div>
        </div>
    </div>
</div>
<br><br>
# endfor

# endblock