# extends "base.html"

# block head
# include 'bit/custom_panels.html'
# endblock

# block content
<h2>Purchased <i class="fa fa-fw fa-dollar"></i></h2>
<p></p>
<div class="row gutter-2">
    # for issue in purchased
    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
        <div class="panel panel-default">
            <a href="{{ url_for('issue_page',title=issue.title|urlencode) }}">
                    <img src="{{ issue.image }}" alt="{{ issue.title }}" class="img-rounded img-responsive">
                </a>
            <div class="panel-body">
                <h4>{{ issue.title }}</h4>
                <h6 class="text-muted date" data-time="{{ issue.date }}">{{ issue.date.strftime('%d/%m/%Y') }}</h6>
                <h5 class="text-muted">{{ issue.price }}</h5>
                <form id="form-pl-{{ issue.title|urlencode }}" action="{{ url_for('purchased_list_del') }}"
                      method="post">
                    <input type="hidden" name="issue_title" value="{{ issue.title }}">
                    <button type="submit" form="form-pl-{{ issue.title|urlencode }}"
                            class="btn btn-default pull-right">
                        <i class="fa fa-fw fa-remove"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
       # if loop.index % 6 == 0
        <div class="visible-lg-block visible-md-block clearfix"></div>
    # endif
    # endfor

</div>

# endblock