# extends 'base.html'

# block head
<style>
    *, *:before, *:after {
        box-sizing: border-box !important;
    }

    .row {
        -moz-column-width: 192px;
        -webkit-column-width: 192px;
        -moz-column-gap: .4em;
        -webkit-column-gap: .4em;
    }

    .row .panel {
        display: inline-block;
    {#margin: .5em;#}{#padding: 0;#}{#width: 98%;#}
    }

    .row .panel-success {
        background: #dff0d8;
        border-color: #39683a;
    }

    .row .panel .panel-body .img-rounded {
        max-width: 100%;
        height: auto;
        display: block;
    }

</style>
# endblock

# block header
<div class="jumbotron">
    <div class="container">
        <h1>{{ config.CONFIG_DB.brand_name }}</h1>
        <p>Hello, world!</p>
    </div>
</div>
# endblock

# block content
# set paneltitle = ["","Questa Settimana","Prossime Settimane"]
<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        # for issue_dbs in weeks:
        # set invalue = "in"
        # if loop.index >1
        # set invalue = ""
        # endif
        {#        # if loop.index >1#}
        {#        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-{{ loop.index }}"#}
        {#                aria-expanded="false" aria-controls="collapse-{{ loop.index }}">#}
        {#            Prossime Settimane#}
        {#        </button>#}
        {#        # set collapsevar = "collapse"#}
        {#        # else#}
        {#        # set collapsevar = ""#}
        {#        # endif#}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}"
                       aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                        {{ paneltitle[loop.index] }}
                    </a>
                </h4>
            </div>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse {{ invalue }}" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row {{ collapsevar }}" id="collapse-{{ loop.index }}">
                        # for issue in issue_dbs:
                        # if week_start <= issue.date <= week_end:
                        # set paneltype = "panel-success"
                        # else
                        # set paneltype = "panel-default"
                        # endif
                        <div class="panel {{ paneltype }}">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{ issue.title }}</h4>
                                # if issue.subtitle
                                <h6 class="text-muted">{{ issue.subtitle }}</h6>
                                # endif
                            </div>
                            <div class="panel-body">
                                <a href="/issue/{{ issue.title }}">
                                    <img src="{{ issue.image }}" alt="{{ issue.title }}" class="img-rounded">
                                </a>
                                # if issue.reprint
                                <h5 class="text-muted">{{ issue.reprint }}</h5>
                                # endif
                                # if issue.serie
                                <h5 class="text-muted">{{ issue.serie.get().title }}</h5>
                                # endif
                                # if issue.price
                                <h5 class="text-muted">{{ issue.price }}</h5>
                                # endif
                                # if issue.date
                                <h6 class="text-muted date" data-time="{{ issue.date }}">{{ issue.date }}</h6>
                                # endif
                            </div>
                        </div>
                        # endfor
                    </div>
                </div>
            </div>
        </div>
        # endfor
    </div>
</div>
# endblock

# block scripts
{#<script>#}
{#    $.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js', function () {#}
{##}
{#        /* activate jquery isotope */#}
{#        $('.row').imagesLoaded(function () {#}
{#            $('.row').isotope({#}
{#                itemSelector: '.panel',#}
{#            });#}
{#        });#}
{##}
{#    });#}
{#</script>#}
# endblock
