# extends 'base.html'

# block head
<style>
    *, *:before, *:after {
        box-sizing: border-box !important;
    }

    .row {
        -moz-column-width: 12em;
        -webkit-column-width: 12em;
        -moz-column-gap: .4em;
        -webkit-column-gap: .4em;
    }

    .row .panel {
        display: inline-block;
        margin: .5em;
        padding: 0;
        width: 98%;
    }
</style>
# endblock

# block header
<div class="jumbotron">
    <div class="container">
        <h1>{{ config.CONFIG_DB.brand_name }}</h1>
        <p>Hello, world!</p>
    </div>
</div>
# endblock

# block content
<div class="container">
    <div class="row" data-isotope='{ "itemSelector": ".panel", "layoutMode": "fitRows" }'>
        # for issue in issue_dbs
        <div class="panel panel-default">
            <div class="panel-heading">{{ issue.title }}</div>
            <div class="panel-body"><img src="{{ issue.image }}" alt="{{ issue.title }}" class="img-responsive"></div>
        </div>
        # endfor
    </div>
</div>
# endblock

# block scripts
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
# endblock
