# extends 'base.html'

# block head
# include 'bit/custom_panels.html'
# endblock

# block header
<div class="jumbotron">
    <div class="container">
        <h1>{{ config.CONFIG_DB.brand_name }}</h1>
        <p>Your Comics Library</p>
    </div>
</div>
# endblock


# block content
<div class="container clearfix">
    # for serie in user_db.series_list
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ url_for('serie_page',title=serie.get().title) }}">{{ serie.get().title }}</a></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                # for issue in user_issues
                # set panelcolor = "panel-default"
                # if issue.serie == serie

                <div class="col">
                    # if issue.key in user_db.cart
                    # set panelcolor = "panel-warning"
                    # endif
                    # if issue.key in user_db.purchased_list
                    # set panelcolor = "panel-success"
                    # endif
                    <div class="panel {{ panelcolor }}">
                        <a href="/issue/{{ issue.title|urlencode }}">
                            <img src="{{ issue.image }}" alt="{{ issue.title }}" class="img-rounded">
                        </a>
                        <div class="panel-body clearfix">
                            <h4>{{ issue.title }}</h4>
                            <h6 class="text-muted date"
                                data-time="{{ issue.date }}">{{ issue.date.strftime('%d/%m/%Y') }}</h6>

                            <form id="form-{{ issue.title|urlencode }}" action="{{ url_for('cart_add') }}"
                                  method="post">
                                <input type="hidden" name="issue_title" value="{{ issue.title }}">
                                <button type="submit" form="form-{{ issue.title|urlencode }}"
                                        class="btn btn-default pull-right">
                                    <span class="fa fa-fw fa-cart-plus"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                # endif
                # endfor
            </div>
        </div>

        <div class="panel-footer clearfix">
            <a class="pull-right" href="{{ url_for('serie_page',title=serie.get().title) }}"><h5>Show Full Serie</h5>
            </a>
        </div>

    </div>
    # endfor
    {#    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
    {#        # for issue_dbs in weeks:#}
    {#        # set invalue = "in"#}
    {#        # if loop.index >1#}
    {#        # set invalue = ""#}
    {#        # endif#}
    {#        <div class="panel panel-default">#}
    {#            <div class="panel-heading" role="tab" id="headingOne">#}
    {#                <div class="panel-title">#}
    {#                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}"#}
    {#                       aria-expanded="true" aria-controls="collapse{{ loop.index }}">#}
    {#                        <h4>{{ paneltitle[loop.index] }}</h4>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div id="collapse{{ loop.index }}" class="panel-collapse collapse {{ invalue }}" role="tabpanel"#}
    {#                 aria-labelledby="headingOne">#}
    {#                <div class="panel-body">#}
    {#                    <div class="row" id="collapse-{{ loop.index }}">#}
    {#                        # for issue in issue_dbs:#}
    {#                        # set paneltype = "panel-default"#}
    {#                        <div class="panel {{ paneltype }}">#}
    {#                            <div class="panel-heading">#}
    {#                                <div class="panel-title">#}
    {#                                    <h4>{{ issue.title }}</h4>#}
    {#                                    # if issue.subtitle#}
    {#                                    <h6 class="text-muted">{{ issue.subtitle }}</h6>#}
    {#                                    # endif#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="panel-body">#}
    {#                                <a href="/issue/{{ issue.title }}">#}
    {#                                    <img src="{{ issue.image }}" alt="{{ issue.title }}" class="img-rounded">#}
    {#                                </a>#}
    {#                                # if issue.reprint#}
    {#                                <h5 class="text-muted">{{ issue.reprint }}</h5>#}
    {#                                # endif#}
    {#                                # if issue.serie#}
    {#                                <h5 class="text-muted">{{ issue.serie.get().title }}</h5>#}
    {#                                # endif#}
    {#                                # if issue.price#}
    {#                                <h5 class="text-muted">{{ issue.price }}</h5>#}
    {#                                # endif#}
    {#                                # if issue.date#}
    {#                                <h6 class="text-muted date" data-time="{{ issue.date }}">{{ issue.date }}</h6>#}
    {#                                # endif#}
    {#                                <button id="btn-add-{{ issue.key.id() }}"#}
    {#                                        class="btn btn-sm btn-outline-success"#}
    {#                                        type="button">#}
    {#                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>#}
    {#                                </button>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        # endfor#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        # endfor#}
    {#    </div>#}
</div>
# endblock

# block scripts
{#<script>#}
{#    $.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js', function () {#}
{##}
{#        /* activate jquery isotope */#}
{#        $('.row').imagesLoaded(function () {#}
{#            $('.row').isotope({#}
{#                itemSelector: '.panel',#}
{#            });#}
{#        });#}
{##}
{#    });#}
{#</script>#}
# endblock
